@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', system-ui;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.row__narrow {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.container {
    padding: 96px 0;
}

.purple {
    color: #6415ff;
}

section {
    padding: 0 32px;
}

main {
    margin-bottom: 96px;
}


/* 

NAVBAR ↓

*/


nav {
    display: flex;
    padding-top: 32px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.nav__logo--title {
    font-size: 24px;
    font-weight: 700;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 16px;
    font-size: 16px;
    font-weight: 500;
    transition: all 300ms ease;
    text-decoration: none;
}

.nav__link--login {
    margin-left: 48px;
    margin-right: 8px;
}

.nav__link--primary {
    background-color: rgba(100, 21, 255, 1);
    border-radius: 24px;
    color: white;
    padding: 12px 32px;
}


.btn__menu {
    display: none;
    background: transparent;
    border: none;
    transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}

.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}

.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}


/* 

HEADER / ABOUT US ↓

*/


header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
}

.header__description {
    width: 40%;
    max-width: 480px;
}

.header__description--para {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
}

.header__email {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 500px;
    width: 100%;
    max-width: 448px;
    display: flex;
    padding: 4px 4px;
}

.header__email--input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    margin-left: 24px;
}

.header__email--btn {
    background-color: rgba(100, 21, 255, 1);
    border-radius: 24px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 8px;
    padding: 16px 32px;
    white-space: nowrap;
}

.header__img {
    width: 100%;
    max-width: 768px;
}

.header__img--wrapper {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.header__customers--title {
    font-size: 14px;
    font-weight: 700;
    margin-top: 80px;
    color: #a0aec0;
}

.header__customers--img {
    width: 100%;
    max-width: 400px;
    margin-top: 16px;
    opacity: 0.5;

    
}


/* 

FEATURES ↓

*/


#features {
    position: relative;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__tag {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: #6415ff;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 16px 0;
    letter-spacing: 1.6px;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.625;
    color: #7c8ba1;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.feature {
    width: calc(100%/3);
    margin: 16px;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}




/* 

QUALITY WORK ↓

*/


#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

STEPS ↓

*/


#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* 

VALUES ↓

*/

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*

PRICING ↓

*/


#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 

TESTIMONIALS ↓

*/


#testimonials .row {
    display: flex;
}


/* 

START / CALL TO ACTION ↓

*/



#start .row {
    position: relative;
    overflow: hidden;
}


/* 

FOOTER ↓

*/


footer {
    padding: 96px 32px;
    background-color: rgb(100, 21, 255);
    margin-bottom: -32px;
    position: relative;
    overflow: hidden;
}


/* 

MOBILE RESPONSIVENESS ↓

*/


@media(max-width: 1280px) {
    header .row {
        align-items: flex-end;
    }
}

@media (max-width: 1024px) {

    .btn__menu {
        display: block;
    }
    header .row {
        flex-direction: column;
        align-items: center;
    }
    footer {
        padding: 80px 32px;
    }
}

@media(max-width: 768px) {
    #quality .row,
    #values .row {
        flex-direction: column-reverse;
    }
    #steps .row,
    #testimonials .row {
        flex-direction: column;
        align-items: center;
    }
    #pricing .row {
        margin-top: 40px;
    }
}

@media(max-width: 640px) {
    .container {
        padding: 80px 0;
    }
    .nav__logo {
        margin: 8px 0;
        padding-bottom: 4px;
    }
    main {
        margin-bottom: 80px;
    }
}